<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>
  <%= image_tag movie.image, style: "height:250px" if movie.image.attached? %>
  <p>
    <strong>Rating:</strong>
    <%= movie.average_rating %>⭐
  </p>
</div>
