<div id="<%= dom_id movie %>" class="card" style="width: 18rem;height: 70vh ">
  <%= image_tag movie.image, class: "card-img-top h-50" if movie.image.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= movie.name %></h5>
    <p class="card-text"><%= movie.release_date %></p>
    <p class="card-text">⭐<%= movie.average_rating %></p>
    <a href="https://www.google.com/search?q=<%= movie.name %>+movie" target="_blank">Know More</a>
  </div>
  <div class="card-footer">
    <%= link_to "Reviews (#{movie.reviews_count})", movie_reviews_path(movie), class: "btn btn-primary" %>
    <%= link_to "Add Rating", new_movie_rating_path(movie), data: { controller: 'rating' }, class: "btn btn-outline-primary" %>
  </div>
</div>