<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div style="padding: 10px 0">
  <h3>Add Rating:</h3>
  <%= render 'ratings/form', rating: @movie.ratings.build %>
</div>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
