<h1>Reviews (<%= @movie.name %>)</h1>
<%= render 'form', review: @movie.reviews.build %>
<hr>
<div id="reviews">
  <% @reviews.each do |review| %>
    <% unless review.id.nil? %>
      <p>
        <strong><%= review.user == current_user ? 'You' : review.user.email %> : </strong>
        <%= review.comment %>
        <%= link_to 'Edit', edit_movie_review_path(@movie,review) if can? :update, review %>
        <%= button_to 'Delete', movie_review_path(@movie,review), method: :delete if can? :destroy, review %>
      </p>
    <% end %>
  <% end %>
  <br>
  <%= link_to "Back", movies_path %>
</div>
