<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviewSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background: #efefef">
    <%= render 'layouts/nav' %>
    <div class="container my-5">
      <% if alert %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: absolute">
          <strong><%= alert %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed;right: 10px;min-width: 500px;">
          <strong><%= notice %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
      <%= turbo_frame_tag 'remote_modal' %>
    </div>
  </body>
</html>
